<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="webapps" />
    <meta name="author" content="sment" />
    
	<!-- TODO enable CSRF -->
<!--     <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" /> -->
    <!-- default header name is X-CSRF-TOKEN -->
<!--     <meta name="_csrf_header" th:content="${_csrf.headerName}"/> -->
    
	<link rel="stylesheet" th:href="@{/static/theme/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/static/theme/font-awesome/css/font-awesome.min.css}" />
	
	<title>Miage cours web apps</title>
</head>

<div class="footer">
	<div class="container">
   		<p class="text-muted">M2 WebApps 2017</p>
	</div>
</div>

<div id="scripts" th:remove="tag">
	<script type="text/javascript" th:src="@{/static/js/lib/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/theme/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/theme/js/bootstrap.min.js}"></script>
</div>