<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:with="localeLanguage=${#locale.language}" th:lang="${localeLanguage}">
	
<head th:include="fragments/common :: [//head]" />

<body>

	<div th:replace="fragments/menu"></div>

	<div class="container">

		<h1 th:text="#{persons}" />

		<form th:action="@{/person/create}" th:object="${person}" method="post" class="form-horizontal" role="form">
			<input type="hidden" th:field="*{id}" />

			<div class="form-group">
				<label for="firstName" th:text="#{firstName}" />
				<div>
					<input type="text" th:field="*{firstName}" th:placeholder="#{firstName}"/>
					<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" />
				</div>
			</div>

			<div class="form-group">
				<label for="lastName" th:text="#{lastName}" />
				<div>
					<input type="text" th:field="*{lastName}" th:placeholder="#{lastName}"/>
					<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" />
				</div>
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn btn-success">
					<i class="fa fa-arrow-circle-right fa-lg"></i> <span th:text="#{submit}" />
				</button>
				<a th:href="@{/person}" class="btn btn-default" >
					<i class="fa fa-times"></i> <span th:text="#{close}" />
				</a>
			</div>

		</form>

	</div>

	<!--/* Footer */-->
	<div th:replace="fragments/common :: [//div[@class='footer']]"></div>

	<!--/* Scripts includes are placed at the end of the document so the pages load faster */-->
	<div th:replace="fragments/common :: [//div[@id='scripts']]"></div>
</body>

</html>